.download-icon {
  float: right;
  margin: 0 20px 5px;
}

.icon-display {
  transform: scale(2);
}

th {
  background-color: lightblue !important;
  font-size: 10px !important;
}

td, button {
  font-size: 10px !important;
}
