<div class="dialog-container">
  <h1 mat-dialog-title>School details added successfully.</h1>
  <div mat-dialog-content>
    <div class="row">
      <div class="col-md-4">UDISE No: {{ data.udiseNo }}</div>
      <div class="col-md-4">School Type: {{ data.schoolType }}</div>
      <div class="col-md-4">School Name: {{ data.schoolName }}</div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-4">District: {{ data.district }}</div>
      <div class="col-md-4">
        Educational District: {{ data.educationalDistrict }}
      </div>
      <div class="col-md-4">HM Name: {{ data.headmasterName }}</div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-4">
        HM Retirement Date: {{ data.headmasterRetirementDate }}
      </div>
      <div class="col-md-4">HM Mobile No: {{ data.headmasterMobileNo }}</div>
      <div class="col-md-4">Email: {{ data.email }}</div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-4">Total Students: {{ data.studentsStrength }}</div>
      <div class="col-md-4">Teachers Strength: {{ data.teachersStrength }}</div>
      <div class="col-md-4">Clerical Strength: {{ data.clericalStrength }}</div>
      <div class="col-md-4"></div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-4">
        Last Auditing Period: {{ data.lastAuditingPeriod }}
      </div>
      <div class="col-md-4">
        Last Auditing Date: {{ data.lastAuditingDate }}
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
    </div>
  </div>

  <div mat-dialog-actions>
    <div class="button-row">
      <button mat-stroked-button color="primary" (click)="closeDialog()">
        Close
      </button>
    </div>
  </div>
</div>
