<form class="form-container" #f="ngForm" (ngSubmit)="f.form.valid && submitData()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Add School Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field>
            <mat-label>UDISE No</mat-label>
            <input matInput name="udiseNo" [(ngModel)]="udiseNo" required />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <mat-label>School Type</mat-label>
            <mat-select
              name="selectedSchoolType"
              [(ngModel)]="schoolType"
              required
            >
              <mat-option
                *ngFor="let schoolType of schoolTypes"
                [value]="schoolType"
                >{{ schoolType }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-3">
          <mat-form-field>
            <mat-label>School Name</mat-label>
            <input
              matInput
              name="schoolName"
              [(ngModel)]="schoolName"
              required
            />
          </mat-form-field>
        </div>

        <div class="col-md-3">
          <mat-form-field>
            <mat-label>District</mat-label>
            <mat-select name="district" [(ngModel)]="district" required>
              <mat-option
                *ngFor="let district of districts"
                [value]="district"
                >{{ district }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field>
            <mat-label>HM Name</mat-label>
            <input
              matInput
              name="headmasterName"
              [(ngModel)]="headmasterName"
              required
            />
          </mat-form-field>
        </div>

        <div class="col-md-3">
          <mat-form-field>
            <mat-label>HM Retirement Date</mat-label>
            <input
              matInput
              [matDatepicker]="headmasterRetirementDatepicker"
              name="headmasterRetirementDate"
              [(ngModel)]="headmasterRetirementDate"
              [min]="minRetirementDate"
              required
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="headmasterRetirementDatepicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #headmasterRetirementDatepicker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-md-3">
          <mat-form-field>
            <mat-label>HM Mobile No</mat-label>
            <input
              matInput
              name="headmasterMobileNo"
              [(ngModel)]="headmasterMobileNo"
              required
            />
          </mat-form-field>
        </div>

        <div class="col-md-3">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput name="email" [(ngModel)]="email" required />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <mat-form-field>
            <mat-label>Total Students</mat-label>
            <input
              matInput
              name="studentsStrength"
              [(ngModel)]="studentsStrength"
              required
            />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <mat-label>Teachers Strength</mat-label>
            <input
              matInput
              name="teachersStrength"
              [(ngModel)]="teachersStrength"
              required
            />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <mat-label>Clerical Strength</mat-label>
            <input
              matInput
              name="clericalStrength"
              [(ngModel)]="clericalStrength"
              required
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field>
            <mat-label>Last Auditing Year</mat-label>
            <input
              matInput
              name="lastAuditingYear"
              [(ngModel)]="lastAuditingYear"
              required
            />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <mat-label>Last Auditing Date</mat-label>
            <input
              matInput
              [matDatepicker]="lastAuditingDatepicker"
              name="lastAuditingDate"
              [(ngModel)]="lastAuditingDate"
              required
              [max]="maxLastAuditingDate"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="lastAuditingDatepicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #lastAuditingDatepicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="button-row">
        <!-- <button mat-stroked-button color="primary">Cancel</button> -->
        <!-- <button mat-stroked-button color="primary" (click)="populateData()">Populate date</button> -->
        <button mat-stroked-button color="primary" (click)="clearData()">
          Clear
        </button>
        <button type="submit" mat-raised-button color="primary">
          Confirm
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
